
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 40px;
  background-color: #f4f4f4;
  color: #333;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  /*align-items:normal;  Center vertically */
  height: 100vh; /* Full viewport height */
  text-align: center; /* Center text within elements */
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #444;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

input, select {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.transactions-log {
  margin-top: 20px;
}

.transactions-log h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.transaction {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.transaction:last-child {
  border-bottom: none;
}

